@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: rgba(0, 0, 0, 0.07);
}

.comment {
  font-style: italic;
  color: rgba(87, 98, 106, 1);
}

.keyword, .storage {
  color: @med-blue;
}

.constant.numeric {
  color: @light-blue;
}

.constant {
  color: @red;
}

.constant.language {
  color: @light-purple;
}

.variable.language, .variable.other {
  color: @teal;
}

.string {
  color: @green;
}

.constant.character.escape, .string .source {
  color: @light-green;
}

.meta.preprocessor {
  color: @light-green;
}

.keyword.control.import {
  color: @lime-green;
}

.entity.name.command, .entity.name.function, .entity.name.end.function, .support.function.any-method {
  color: @med-blue;
}

.entity.name.type {
  text-decoration: underline;
  color: @white;
  //background-color: #000000;
}

.entity.other.inherited-class {
  font-style: italic;
  color: #EEEEEE;
}

.variable.parameter {
  font-style: italic;
  color: #EEEEEE;
}

.storage.type.method {
  color: #70727E;
}

.meta.section .entity.name.section, .declaration.section .entity.name.section {
  font-style: italic;
}

.support.function, .storage.type.fctn {
  color: @blue2;
}

.support.command, .storage.type.comnd {
  color: @orange;
}

.support.class, .support.type {
  color: @med-blue;
}

.support.constant {
  color: @green;
}

.support.variable {
  color: #blue2;
}

.keyword.operator.js {
  color: #687687;
}

.invalid {
  color: #ffffff;
  background-color: #990000;
}

.invalid.deprecated.trailing-whitespace {
  background-color: #FFD0D0;
}

.text .source, .string.unquoted {
  //background-color: rgba(0, 0, 0, 0.7);
}

.text .source .string.unquoted, .text .source .text .source {
  background-color: rgba(0, 0, 0, 0.7);
}

.meta.tag.preprocessor.xml {
  color: #68685B;
}

.meta.tag.sgml.doctype, .meta.tag.sgml.doctype .entity, .meta.tag.sgml.doctype .string, .meta.tag.preprocessor.xml, .meta.tag.preprocessor.xml .entity, .meta.tag.preprocessor.xml .string {
  color: #888888;
}

.string.quoted.docinfo.doctype.DTD {
  font-style: italic;
}

.meta.tag, .declaration.tag {
  color: @med-blue;
}

.entity.other.attribute-name {
  font-style: italic;
}

.markup.heading {
  color: #4945ff;
}

.markup.quote {
  font-style: italic;
  color: #EEEEEE;
}

.markup.list {
  color: #B90690;
}

//
// Added better hilites for HTML
// Added: 9/29/2015 RDH
//
.text-html-basic {
  color: @white;
}

.keyword.operator.dereference.java {
  color: @green;
}

.markup.inserted.diff, .meta.diff.header.to-file {
  color: @green;
}

.storage {
  color: @light-blue;
}

.entity.name.tag {
  color: @orange;
}

.entity.other.attribute-name {
  color: @light-purple;
}
